<form action="/names" method="post">
<label for="name>">Player1:</label>
<input type="text" id="name" name="player_1">
<label for="name">Player2:</label>
<input type="text" id="name" name="player_2">
<input type="submit" value="Submit">
</form>