<h1 style="color:red;font-size:80px;">Battle!</h1>
<h2 style="font-size:40px;">Sign in to play<h2>
<form action="/names" method="post">
<label for="name>">Player1:</label>
<input type="text" id="name" name="player_1">
<p></p>
<label for="name">Player2:</label>
<input type="text" id="name" name="player_2">
<p></p>
<input type="submit" value="Submit">
</form>